# Version control
.git
.gitignore

# IDE/Tools
.vscode/
.husky/

# Logs
logs

# Storage
storage

# Compiled output
dist/
node_modules/
coverage/

# Document/Markdown files
*.md

# Environment files
*.env

# OS and cache
.DS_Store
.eslintcache

# Redis snapshot
*.rdb
